<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Example</title>
    </head>
    <body>
        <h2>Exemple Symfony</h2><br>
        {% block content %}{% endblock %}
    </body>
</html>